li {
    display: inline-flex;
}

li a {
    margin: 5px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}

li a:hover {
    text-decoration: underline;
}


/* Stili specifici per smartphone */
@media only screen and (max-width: 1250px) {

    li a {
        font-size: 15px;
        padding: 0;
    }
  
    .maintext h1 {
        font-size: 60px;
        letter-spacing: -4px;
        margin: 20px auto;
        margin-bottom: 0;
    }
  
    .backbox {
        display: block;
        padding: 0;
    }
  
    .box {
        width: fit-content;
        height: 270px;
        display: block;
        margin: 50px auto 50px 0px;
        scale: 85%;
    }
  
  
    .box p {
  
        margin: auto 10px;
        font-size: 18px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
  
    .homecontent {
        height: 120px;
    }
  
  
    .myimg {
        display: flex;
        margin: 15px auto;
        height: 130px;
        width: 130px;
    }
  
  
  
    .infofast {
        display: block;
        max-width: 300px;
  
        scale: 80%;
        margin: 20px auto;
    }
  
    .sep {
        margin-top: 100px;
    }
  
    .funnybutton {
        margin-top: 20px;
    }
  
    .sep {
        width: 300px;
        margin-top: 0;
    }
  
  
    .contentspace {
        max-width: 350px;
    }
  

  
    .underaboutme {
        display: block;
        max-width: 300px;
        margin: 10px auto;
  
  
    }
  
    .timelineleft {
        max-width: 300px;
        min-width: 300px;
        margin: 30px auto;
    }
  
    .timelineright {
        max-width: 300px;
        min-width: 300px;
        margin: 30px auto;
    }
  
    .aboutmesections {
        height: 1300px;
    }
  
    .cardbox {
        display: block;
    }
  
    .myprojectsection {
        height: 1800px;
    }
  
    .text {
        margin: 0 auto;
        width: 355px;
  
    }
  
    .backbox {
        width: 375px;
    }
  
    .projects {
        width: 350px;
    }
  
    .card {
        min-width: 300px;
    }
  
    .text p {
        text-align: center;
    }
  
    .text h1 {
        padding: 10px;
        font-size: 25px;
  
        max-width: 200px;
    }
  
    .maintext h1 {
        margin-top: 3px;
    }
  
    .desc {
        height: 145px;
  
    }
  
    .separatorcoders {
        max-width: 200px;
    }
  
    .titlecard {
        font-size: 18px;
    }
  
    .moreprojects button {
        font-family: "Source Code Pro", monospace;
        font-size: 18px;
        padding: 10px;
        border: 3px solid rgba(0, 238, 255, 0.664);
        background-color: transparent;
        transition: all 0.2s ease;
        color: white;
    }
  
  
  
  
  }